.p1p {
  border:1px solid #CCCCCC;
  border-radius:15px;
  padding:15px;
}

.p1p-light {
  border:1px solid red;
  border-radius:15px;
  padding:15px;
}

.p1p-dark {
  border:1px solid #CCCFCC;
  border-radius:15px;
  padding:15px;
}

.p1p-light p {
  border:1px solid green;
  color: blue;
  border-radius:15px;
  padding:15px;
  margin-left: 25px;
  margin-right: 25px;
  max-width: 500px;
  word-wrap: wrap;
}

.p1p-dark p {
  border:1px solid red;
  border-radius:15px;
  padding:15px;
  margin-left: 25px;
  margin-right: 25px;
  max-width: 500px;
  word-wrap: wrap;
}

.p1p-wrap-light {
  background-color: rgb(217, 179, 255, 0.3);
  padding:10px;
  margin: 5px;
}

.p1p-wrap-dark {
  background-color: rgb(36, 71, 143, 0.3);
  padding:10px;
  margin: 5px;
}
